.products-list{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding: 5px;

}


@media screen and (max-width: 500px)  {

    .products-list{
        display: grid !important;
        grid-template-columns: repeat( 2, 1fr );
    }

}