<div class="header-container">

    <div class="icon-list">
        <button class="icon" mat-icon-button [routerLinkActive]="['is-active']">
            <mat-icon routerLink="vendas"> home </mat-icon>
        </button>
        <button class="icon" routerLink="produtos" mat-icon-button [routerLinkActive]="['is-active']">
            <mat-icon routerLink="produtos"> storefront </mat-icon>
        </button>
        <button class="icon" routerLink="carrinho" mat-icon-button [routerLinkActive]="['is-active']">
            <mat-icon 
                [matBadge]="amount()" 
                matBadgeColor="warn"
            > 
                local_mall
            </mat-icon>
        </button>

    </div>

</div>