.card-container{
    width: 200px;
    height: auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.178);

    .card-wrapper{
        display: flex;
        height: auto;
        flex-direction: column;
        padding: 10px;

        .card-header{

            .card-description{
                &_title{
                    font-weight: 500;
                }
    
                &_list{
                    font-weight: 300;
                    list-style: none;
                    padding: 0;
    
                    li.item{
                        color: #484848;
                    }
                }
    
                &_price-wrapper{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    border-radius: 10px;
                    padding: 6px;

                    .price{
                        margin: 0px;
                        padding: 5px 0px;
                    }
    
                    .discount{
                        border-radius: 5px;
                        padding: 5px 10px;
                    }

                    &.promo{
                        background-color: #F2D8CE;
                        color: #802503;

                        .discount{
                            background-color: #802503;
                            color: #fff;
                        }

                    }
                }

                &_btn-add-cart{
                    width: 100%;
                    padding: 12px;
                    margin-top: 10px;

                    background-color: #fff;
                    border: 1px solid #357C72;
                    border-radius: 10px;
                    color: #357C72;
                    font-weight: 600;

                    &:hover{
                        color: #fff;
                        background-color: #357C72;
                        cursor: pointer;
                    }

                    &:active{
                        transform: scale(0.95);
                    }
                }
            }

        }

        img{
            width: 100%;
            height: 100%;
            max-height: 200px;
            max-width: 200px;
        }

        .card-description{
            margin-top: auto;
            font-weight: bold;
        }

    }

}

@media screen and (max-width: 500px)  {

    .card-container{
        width: 100%;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.178);
    }

}