<div class="card-container mat-elevation-z1">

    <div class="card-wrapper">

        <div class="card-header">
            <img [src]="produto.imagens[0]" alt="">
            <div class="card-description">
                <p class="card-description_title"> {{ produto.nome }} </p>

                <ul class="card-description_list">
                    <li class="item"> {{ produto.categoria || ' - ' }} </li>
                </ul>
            </div>
        </div>

        <div class="card-body">
            <span class="card-body_price-wrapper" [ngClass]="{ 'promo' : produto.bitDesconto }">
                <p class="price">
                    {{ ( produto.preco || 0 ) | currency }}
                </p>
                <span class="discount" *ngIf="produto.bitDesconto">
                    {{ produto.desconto * 100 }}% OFF
                </span>
            </span>

            <button class="card-body_btn-add-cart" (click)="addItem(produto)" mat-ripple>
                Adicionar item
            </button>
        </div>


        

    </div>

</div>