@import '../../../variables';

.card-container{
    width: 200px;
    height: 100%;
    padding: 10px;
    display: flex;

    .card-wrapper{
        display: flex;
        height: 100%;
        flex-direction: column;
        flex: 1;
        
        .card-header{

            .card-description{
                &_title{
                    font-weight: 500;
                }
    
                &_list{
                    font-weight: 300;
                    list-style: none;
                    padding: 0;
    
                    li.item{
                        color: #484848;
                    }
                }
            }

        }

        .card-body{
            margin-top: auto;
            font-weight: 700;

            &_price-wrapper{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 6px;

                .price{
                    margin: 0px;
                    padding: 5px 0px;
                }

                .discount{
                    // border-radius: 5px;
                    padding: 5px 10px;
                }

                &.promo{
                    background-color: #ed354b0d;
                    color: #ed354b;
                    
                    .discount{
                        background-color: #ed354b;
                        color: #fff;
                    }

                }
            }

            &_btn-add-cart{
                background-color: darken($primary , 100%);
                color: #fff;
                border: none;
                width: 100%;
                padding: 12px;
                margin-top: 10px;
                font-weight: 600;

                &:hover{
                    background-color: darken($primary , 50%);
                    cursor: pointer;
                }

                &:active{
                    transform: scale(0.95);
                }
            }
        }

        img{
            width: 100%;
            height: 100%;
            max-height: 200px;
            max-width: 250px;
            object-fit: cover;
        }

        .card-description{
            margin-top: auto;
            font-weight: bold;
        }

    }

}

@media screen and (max-width: 500px)  {

    .card-container{
        width: 100%;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.178);
    }

}