<div class="cart-container">
    <div class="cart-container_header">
        <h2 class="title"> CARRINHO </h2>
        <!-- <span> {{ Cart.countItens }} </span> -->
    </div>

    <div class="cart-container_list">

        <app-item-card  
            *ngFor="let item of cartList"
            [item]="item"
        > 
        </app-item-card>

    </div>
    
    <div class="controls">
        <div class="footer">
            <h2> resumo do pedido </h2>
            <div class="discount-wrapper">
                <div class="discount-container">
                    Cupom de desconto: 
                    <div class="wrapper">
                        <input type="text" #discountCupom [value]="getTotal().cod">
                        <button (click)="getDiscount()"> Aplicar </button>
                    </div>
                </div>
            </div>
            <div class="values-container">
                <div class="values-container_session">
                    <span> Subtotal: </span>
                    <span> {{ getTotal().subTotal | currency }} </span>
                </div>
                <div class="values-container_session">
                    <span> Desconto: </span>
                    <span> % {{ getTotal().discount }} </span>
                </div>
                <div class="values-container_session">
                    <span> Total: </span>
                    <span> {{ getTotal().total | currency  }} </span>
                </div>
            </div>
        </div>
        <button matRipple matRippleColor="#2b2b2b" class="finish-button"> Finalizar </button>
    </div>
</div>