/* You can add global styles to this file, and also import other style files */
@import './variables';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*{

    ::-webkit-scrollbar {
		background: $primary;
		width: 5px;
		height: 10px;
	}

	::-webkit-scrollbar-button {
		display: none;
	}

	::-webkit-scrollbar-track {
		background: lighten(#000, 70%);
	}

	::-webkit-scrollbar-thumb {
		background: #000;

		&:hover {
			background: lighten(#000, 30%);
		}
	}
}

.empty-cart{
	width: 100%;
	text-align: center;
	margin: auto;
	font-weight: 500;
	color: darken( $primary , 0%);
	text-transform: uppercase;
}

.loading-shade {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.15);
	z-index: 200;
	display: flex;
	align-items: center;
	justify-content: center;
}

//Override Material
